* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.navbar {
  font-size: 18px;
  background-color: #433b6b;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.nav-links,
.logo {
  color: rgba(255, 255, 255, 0.7);
}

.logo {
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

@media screen and (max-width: 990px){
  .box-shadow-menu {
    margin-left: 40px;
    position: relative;
    padding-left: 1.25em;
  }
  .box-shadow-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.75em;
    width: 1em;
    height: 0.15em;
    background: black;
    box-shadow: 
      0 0.25em 0 0 black,
      0 0.5em 0 0 black;
  }


  .navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .logo{
    margin-right: 40px;
    order: 2;
  }

  .menu{
    order: 1;
  }
 
  .main-nav {
    list-style-type: none;
    display: none;
    margin-left: 30px;
  }
  
  .main-nav li {
    text-align: left;
    margin: 15px auto;
  }

  .active {
    display: block;
  }
}

@media screen and (min-width: 990px) {
  .navbar {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    list-style-type: none;
    display: flex;
    margin-right: 30px;
  }

  .main-nav li {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
}